.example {
  //padding-bottom: 34px;
  //background-image: linear-gradient(to bottom, white 0%, @bc-grey 0%, @bc-grey 100%);
  background-color: @bc-grey;
}

.example__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.example__info {
  width: 280px;
  padding: 0 20px;
  padding-top: 17px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 14px;
}

.example__title {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.example__text {
  width: 266px;
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @c-grey;
}

.example__container-stat {
  display: flex;
  flex-direction: column;
}

.example__numbers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.example__value {
  position: relative;
  width: 124px;
  box-sizing: border-box;
  padding: 15px 5px;
  text-align: center;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: @c-black;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__caption {
  position: absolute;
  width: 82px;
  box-sizing: border-box;
  text-align: center;
  z-index: 2;
  top: 48px;
  right: 21px;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-transform: lowercase;
  color: @c-grey;
  background-color: @bc-grey;
}

.example__cost {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @c-black;
}

.example__scale {
  width: 198px;
  padding-left: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example__scale-label {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: @c-black;
}

.example__scale-full {
  position: relative;
  width: 82px;
  height: 12px;
  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
}

.example__scale-inner {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  left: 4px;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  cursor: pointer;
}

.example__container-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

.example__photos {
  position: relative;
  width: 320px;
  height: 240px;
  //background-color: yellow;
  //background-color: @bc-grey;
  margin-bottom: 32px;
}

.example__img--fat-cat {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 320px;
  height: 240px;
  background-color: @bc-grey;
  background-image: url("../../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
    background-image: url("../../img/before-mobile@2x.png");
  }
}

.example__img--thin-cat {
  position: absolute;
  z-index: 20;
  top: 0;
  right: 0;
  width: 320px;
  height: 240px;
  background-color: @bc-grey;
  background-image: url("../../img/after-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;

  @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
    background-image: url("../../img/after-mobile@2x.png");
  }
}

//.example__image--fat-cat {
//  position: absolute;
//  z-index: 50;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//}
//
//.example__image--thin-cat {
//  position: absolute;
//  z-index: 20;
//  top: 0;
//  left: 0;
//  width: 50%;
//  height: 100%;
//}

@media (min-width: @tablet-width) {
  .example {
    background-color: @c-white;
    background-position: 0 575px;
    background-image: linear-gradient(to right, @bc-grey 50%, #eaeaea 50%);
    background-repeat: no-repeat;
    //background-image: linear-gradient(to bottom, white 55%, @bc-grey 55%, @bc-grey 100%);
    //padding-bottom: 67px;
  }

  .example__wrapper {
    width: 768px;
  }

  .example__info {
    width: 708px;
    padding: 0 30px;
    margin-bottom: 66px;
  }

  .example__title {
    margin-bottom: 64px;
    font-size: 60px;
  }

  .example__text {
    width: 676px;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }


  .example__container-stat {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .example__cost {
    width: 174px;
    text-align: right;
    font-size: 20px;
    //flex-direction: column;
    //display: flex;
  }

  .example__cost span {
    display: block;
    margin-bottom: 9px;

    & span:last-child {
      margin-bottom: 0;
    }
  }

  .example__numbers {
    width: 366px;
    margin-bottom: 0;
  }

  .example__value {
    width: 162px;
    padding: 17px 5px;
    padding-top: 16px;
    font-size: 30px;
    line-height: 37px;
  }

  .example__caption {
    width: 142px;
    top: 63px;
    right: 10px;
    font-size: 14px;
    line-height: 14px;
    background-color: @c-white;
  }

  .example__container-photo {
    background-position: 0 575px;
    background-image: linear-gradient(to right, @bc-grey 50%, #eaeaea 50%);
    background-repeat: no-repeat;
    padding-bottom: 67px;
  }

  .example__photos {
    width: 690px;
    height: 517px;
    margin-bottom: 15px;
  }

  .example__img--fat-cat {
    width: 339px;
    height: 517px;
    left: 7px;
    background-color: transparent;
    background-image: url("../../img/before-tablet@1x.png");

    @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
      background-image: url("../../img/before-tablet@2x.png");
    }
  }

  .example__img--thin-cat {
    width: 351px;
    height: 517px;
    right: -7px;
    background-color: transparent;
    background-image: url("../../img/after-tablet@1x.png");

    @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
      background-image: url("../../img/after-tablet@2x.png");
    }
  }


  .example__scale {
    width: 570px;
    padding: 0;
  }

  .example__scale-label {
    font-size: 20px;
    padding: 5px 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);
    cursor: pointer;

    &:hover,
    &:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:active {
      border-bottom: 1px solid rgba(0, 0, 0, 0);
    }
  }

  .example__scale-full {
    width: 428px;
    height: 6px;
    border-radius: 3px;
    border: none;
    background-color: #dcdcdc;
  }

  .example__scale-inner {
    top: -14px;
    left: 198px;
    width: 34px;
    height: 34px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: @c-white;

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      border: 2px solid #68b738;
    }

    &::after {
      position: absolute;
      content: "";
      top: 13px;
      left: 13px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #68b738;
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-position: 0 193px;
    background-image: linear-gradient(to right, @bc-grey 50%, #eaeaea 50%);
    background-repeat: no-repeat;
  }

  .example__wrapper {
    width: 1220px;
    padding: 0 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__info {
    //width: 1220px;
    padding: 0;
    margin-bottom: 0;
  }

  .example__title {
    margin-bottom: 146px;
    padding-top: 58px;
  }

  .example__text {
    width: 432px;
    margin-bottom: 67px;
  }

  .example__caption {
    background-color: @bc-grey;
  }

  .example__numbers {
    margin-bottom: 60px;
  }

  .example__container-stat {
    flex-direction: column;
    align-items: flex-start;
  }

  .example__cost {
    width: 326px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__container-photo {
    align-items: flex-end;
    background-position: 0 193px;
    background-image: linear-gradient(to right, @bc-grey 58.5%, #eaeaea 58.5%);
    background-repeat: no-repeat;
    padding-bottom: 68px;
  }

  .example__photos {
    width: 690px;
    height: 517px;
    margin-bottom: 38px;
  }

  .example__img--fat-cat {
    width: 365px;
    top: 2px;
    left: 41px;
    background-color: transparent;
    background-image: url("../../img/before-desktop@1x.png");

    @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
      background-image: url("../../img/before-desktop@2x.png");
    }
  }

  .example__img--thin-cat {
    width: 325px;
    top: 2px;
    right: -41px;
    background-color: transparent;
    background-image: url("../../img/after-desktop@1x.png");

    @media (min-resolution: @retina-dppx), (min-resolution: @retina-dpi) {
      background-image: url("../../img/after-desktop@2x.png");
    }
  }
}
