.social {
  //padding: 0 20px;
  //padding-top: 21px;
  //padding-bottom: 17px;
  //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  //border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.social__list {
  width: 136px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  //justify-content: space-between;
}

.social__item {
  //margin-left: 37px;
  margin-right: 31px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  display: flex;
  padding: 3px 3px;
}

.social__link:hover,
.social__link:focus {
  fill: #68b738;
}

.social__link:active {
  opacity: 0.3;
}

.social__link--vk svg {
  width: 22px;
  height: 12px;
}

.social__link--insta svg {
  width: 16px;
  height: 16px;
}

.social__link--fb svg {
  width: 10px;
  height: 19px;
}

@media (min-width: @tablet-width) {
  .social__link--vk svg {
    width: 30px;
    height: 16px;
  }

  .social__link--insta svg {
    width: 23px;
    height: 23px;
  }

  .social__link--fb svg {
    width: 14px;
    height: 28px;
  }

  .social__item {
    margin-right: 22px;
  }
}
