.catalog-main__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.catalog-main__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-main__item {
  padding: 0 20px;
  border-top: 1px solid @c-line;
}


.catalog-main__item:last-child {
  border-bottom: 1px solid @c-line;
}
