.catalog-additional {
  //width: 320px;
  //margin: 0 auto;
  //padding: 0 20px;
}

.catalog-additional__wrapper {
  padding: 0 20px;
}

.catalog-additional__title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @c-black;
}

.catalog-additional__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-additional__item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog-additional__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.catalog-additional__item:last-child {
  border: none;
  margin-top: 39px;
  margin-bottom: 35px;
  min-height: 289px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: @bc-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}


.catalog-additional__link {
  display: block;
  padding: 6px;
  text-align: center;
  color: @c-white;
}
